* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

/*! Header */
header {
	background-color: rgb(26, 188, 156);
}

.wrapper {
	width: 90%;
	height: 70px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	font-size: 25px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.nav-link:not(:last-child) {
	margin-right: 20px;
}

.social-icon:not(:last-child) {
	margin-right: 20px;
}

/*! About us */
.intro {
	display: flex;
	align-items: center;
}

.intro-img {
	width: 50%;
	background-image: url(../img/intro-img.png);
	aspect-ratio: 756 / 695;
	background-size: contain;
	background-repeat: no-repeat;
}

.intro-info {
	width: 50%;
}

h1 {
	text-align: center;
	font-size: 35px;
	margin-bottom: 35px;
}

.intro-text {
	font-size: 20px;
	width: 83%;
	margin: auto;
	text-align: justify;
	text-indent: 20px;
}

/*! Projects */
.projects {
	background-color: rgb(220, 255, 235);
	padding: 125px 0;
}

.projects-wrapper {
	width: 90%;
	margin: auto;
	
}

.projects-list {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.projects-item {
	width: calc(100% / 3 - 20px);
}

.projects-item-hover {
}

.projects-item-title {
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 24px;
	color: rgb(255, 255, 255);
}

.projects-item-text {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	color: rgb(255, 255, 255);
}

/*! Footer */

/* 
font-family: 'Inter',sans-serif;
font-family: 'Open Sans',sans-serif;
font-family: 'Oswald',sans-serif;
*/