* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Inter', sans-serif;
}

/*! Header */
header {
	background-color: rgb(26, 188, 156);
}

.wrapper {
	width: 90%;
	height: 70px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link {
	font-size: 25px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.nav-link:not(:last-child) {
	margin-right: 20px;
}

.social-icon:not(:last-child) {
	margin-right: 20px;
}

/*! About us */
.intro {
	display: flex;
	align-items: center;
}

.intro-img {
	width: 50%;
	background-image: url(../img/intro-img.png);
	aspect-ratio: 756 / 695;
	background-size: contain;
	background-repeat: no-repeat;
}

.intro-info {
	width: 50%;
}

h1 {
	text-align: center;
	font-size: 35px;
	margin-bottom: 35px;
}

.intro-text {
	font-size: 20px;
	width: 85%;
	margin: auto;
	text-align: justify;
	text-indent: 20px;
}

/*! Projects */
.projects {
	background-color: rgb(220, 255, 235);
	padding: 125px 0;
}

.projects-wrapper {
	width: 90%;
	margin: auto;
}

.projects-title {
	margin-bottom: 50px;
	font-family: 'Inter';
	font-weight: 400;
	font-size: 35px;
}

.projects-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.projects-item {
	/* width: calc(100% / 3); */
	/* position: relative; */
}

.projects-item-img {
	width: 100%;
	/* position: absolute; */
}

.projects-item-hover {
	/* position: absolute; */
	
}

.projects-item-title {
	margin-bottom: 14px;
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 24px;
	color: rgb(255, 255, 255);
}

.projects-item-text {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 16px;
	color: rgb(255, 255, 255);
}

/*! Footer */
footer {
	padding: 80px 0;
}

.contacts-wrapper {
	width: 90%;
	margin: auto;
}

.contacts-title {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 75px;
}

.contacts-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.contacts-item {

}

.contacts-item-img {
	width: 40px;
	margin-bottom: 40px;
}

.contacts-item-title {
	font-family: 'Oswald';
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	text-align: center;
	color: rgb(153, 153, 153);
}

.contacts-item-text {
	font-family: 'Oswald';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	text-align: center;
}

.contacts-item-email {
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 24px;
	font-style: normal;
	text-align: center;
	color: rgb(247, 101, 74);
}
/* 
font-fam#f7654anter',sans-serif;
font-family: 'Open Sans',sans-serif;
font-family: 'Oswald',sans-serif;
*/