h1 {
    color: green; /* цвет шрифта */
    font-size: 40px;
    text-align: center; /* выравнивание по центру */
    background-color: indianred;
}
.post-1 {
    background-color: lightsteelblue; /* цвет фона, цвет блока */
    padding: 30px;  /* внутренний отступ */
    border-radius: 10px; /* закруглить края блока */
}
.post-2 {
    background-color: rgb(222, 174, 131);
}
h3 {
    font-size: 28px; /* размер шрифта */
}
img {
    width: 500px; /* ширина картинки */
}
a {
    font-size: 24px;
}
p {
    text-align: center; /* выравнивание текста */
    background-color: coral;
    width: 50%;
    margin: 0 auto; /* центрирование блока */
}
/*
    селектор {
        свойство: значение свойства;
    }
    h1 - селектор - выбор тега из html, который хотим стилизовать
    color - свойство тега, которое хотим изменить
    green - значение свойство, на которое хотим изменить
    селектор
        1. по тегу h1, h3, p, img, div
        2. по классу
*/