body {
   background-color: rgb(30, 45, 60); /* Фон */
   color: rgb(243, 156, 18);  /*Цвет текста*/
}

h1 {
   color: rgb(22, 160, 133); /* Шрифт заголовка */
}

h2 {
	 color: rgb(225, 55, 55); /* red */
}

div {
   box-shadow: 0px 0px 12px 8px rgb(243, 156, 18);
   background-image: url(./project-2/img/space-10.jpg);
   width: 100vh;
   aspect-ratio: 1;   
}

button {
   background-color: rgba(37, 101, 88, 0.51); /* Прозрачный фон */
   background-color: rgb(34, 73, 74); /* Непрозрачный фон */   
   color: rgb(22, 160, 133);
}

section {
	background-color: rgb(60, 99, 130);
	box-shadow: 0px 0px 10px 10px rgba(142, 68, 173,0.58);
}

 /*
   red rgb(231, 76, 60)
   green: rgb(39, 174, 96)
   blue rgb(41, 128, 185)
   yellow rgb(241, 196, 15)
*/

/* Выезжающее меню */
aside {
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgb(60, 99, 130);
	height: 100%;
	width: 250px;
	transform: translateX(-250px);
	transition: 1s; /* Плавное появлние */
	opacity: 0;  /* Прозрачное появление */
}
.is-open {
	transform: translateX(0);
	opacity: 1; /* Прозрачное появление */
}