* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 45, 60);
    color: rgb(226, 247, 211);
    font-family: 'Alkatra', cursive;
    /* font-family: 'Inter', sans-serif; */
}

/* Header */
header {
    height: 70px;
    background-color: rgb(52, 73, 94);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
    transition: 0.4s;
}

h1:hover {
    color: rgb(250, 211, 144);
    font-size: 50px;
    font-weight: 600;
}

/* Main */
.container {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: calc(100% / 2 - 20px); /*ширина*/
    height: calc(100vh / 2.5 ); /*высота*/
    background-color: rgb(60, 99, 130);
    margin: 10px;
    background-size: cover; 
    background-repeat: no-repeat;
    transition: 0.2s;
    border-radius: 20px;
}

.item:hover {
    transform: scale(1.07);
    box-shadow: 0px 0px 10px 10px rgba(142, 68, 173,0.58);
}

.item-1 {
    background-image: url(../img/space-01.jpg);
}

.item-2 {
    background-image: url(../img/space-02.jpg);
    /* background-size: 100%; */
}

.item-3 {
    background-image: url(../img/space-03.jpg);
}

.item-4 {
    background-image: url(../img/space-04.jpg);
}

.item-5 {
    background-image: url(../img/space-05.jpg);
}

.item-6 {
    background-image: url(../img/space-06.jpg);
}

.item-7 {
    background-image: url(../img/space-07.jpg);
}

.item-8 {
    background-image: url(../img/space-08.jpg);
}

.item-9 {
    background-image: url(../img/space-09.jpg);
}

.item-10 {
    background-image: url(../img/space-10.jpg);
}

.item-11 {
    background-image: url(../img/space-11.jpg);
}

.item-12 {
    background-image: url(../img/space-12.jpg);
}

.item-13 {
    background-image: url(../img/space-13.jpg);
}

.item-14 {
    background-image: url(../img/space-14.jpg);
}

.item-15 {
    background-image: url(../img/space-15.jpg);
}

.item-16 {
    background-image: url(../img/space-16.jpg);
}