* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f1;
}

h1 {
    margin: 20px;
}


.description {
    background-color: #34495E;
    border-radius: 20px;
    padding: 21px;
    margin: 20px 20px;
}